@use 'variables' as v;
/* Globales
----------------------------------------------------------*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*,*:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: v.$font-primary;
    font-size: 1.6rem;
    background-color: v.$primario;
}
a{
    text-decoration: none;
    color: v.$whiteB;
    font-family: v.$font-secondary;
    letter-spacing: 1px;
    font-weight: 500;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
    width: auto;
}
ul{
    // list-style: none;
    padding: 0;
    margin: 0;
}
li{
    color: v.$blanco;
}