@use 'variables' as v; 
@use 'mixins' as m;
/* Utilidades
----------------------------------------------------------*/
.contenedor{
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}
.seccion{
    padding: v.$separacion 0;
}