//fonts
$font-primary: 'Inter', sans-serif;
$font-primary: "futura-pt", sans-serif;
$font-secondary: 'Poppins', sans-serif;

// Media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// colores
$primario: #111111;
$negro: #000000;
$blue: #0b111e;
$blanco: #FFFFFF;
$whiteB: #ffffffb3;


// unidades
$separacion: 18rem;