@use 'bases/variables' as v; 
@use 'bases/mixins' as m;


.contacto{
    padding: 18rem 0;
    &__contenido{
        @include m.grid(1, 0, 5rem);
        @include m.tablet{
            @include m.grid(2, 5rem, 0);
        }
    }
    &__talk{

    }
    &__medios{
        @include m.grid(1, 2rem, 2rem);
    }
    &__medio{
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: lighten(v.$negro, 3%);
        border-radius: 10px;
    }
    &__icon{
        width: 4rem;
        margin: 0 auto 1rem auto;
    }
    &__nombre{
        margin: 0;
        font-weight: 900;
        line-height: 1.2;
    }
    &__referencia{
        margin: 0 0 1.5rem 0;
    }
    &__enlace{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .4rem;
        &:hover{
            .contacto__arrow{
                transform: rotate(180deg) translateX(-3px);
            }
        }
    }
    &__arrow{
        transition: all .3s;
        font-size: 1.4rem;
    }
}
.formulario{
    &__heading{

    }
    &__contenido{

    }
    &__seccion{
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
        height: 7rem;
        position: relative;
        
        &:last-of-type{
            height: 25rem;
            margin-bottom: 0;
        }
        
    }
    &__label{
        position: absolute;
        top: -17px;
        left: 20px;
        background-color: v.$negro;
        z-index: 1;
        padding: 0 .5rem;
    }
    &__input{
        position: absolute;
        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 1000px black inset;
            -webkit-text-fill-color: white;
        }
    }
    &__input, &__textarea{
        padding-inline: 2.5rem;
        width: 100%;
        height: 100%;
        background-color: transparent;
        color: v.$blanco;
        border-radius: 15px;
        outline: none;
        border: 1px solid v.$blanco;
    }
    &__textarea{
        padding-top: 2rem
    }
    &__submit{
        @include m.btn(v.$negro, v.$blanco, v.$negro);
        font-family: v.$font-primary;
        margin-top: 2rem;
        font-weight: 700;
        width: 100%;
        cursor: pointer;

        @include m.tablet{
            width: unset;
        }
    }
}