@use 'bases/variables' as v; 
@use 'bases/mixins' as m;

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // position: relative;
    width: min(128rem, 90%);
    margin: 0 auto;
    &__logo{
        display: flex;
        gap: 1rem;
        align-items: center;
    }
    &__nombre{
        // font-weight: 700;
        font-size: 2.5rem;
        line-height: unset;
        z-index: 1;
    }
    &__nav{
        display: flex;
        gap: 2rem;

        @include m.desktop{
            gap: 4rem;
        }
    }
}
.menu{
    &__enlace{
        z-index: 1;
        position: relative;
        @include m.tablet{
            display: none;
        }
    }
    &__icon{
        width: 2.5rem;
    }    
    &__nav{
        position: absolute;
        top: 0;
        right: 0;        
        background-color: v.$negro;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all .15s ease-in;
        justify-content: center;
        text-align: center;
        @include m.tablet{
            position: unset;
            background-color: unset;            
            display: flex;
            flex-direction: row;
            height: auto;
            transition: unset;
        }
    }

    &__link{
        padding: 2.2rem 0;
        @include m.tablet{
            margin-left: 3rem;
            margin-right: .5rem;
            padding: 0;
            &:last-of-type{
                font-weight: 700;
                margin-right: 0;
            }
        }
        @include m.desktop{
            margin-right: 2.5rem;
        }
    }

    .menu__nav--visible{
        // height: 370px;
        height: 37rem;
        padding-top: 4rem;
        border-bottom: 2px solid v.$blanco;
        @include m.tablet{
            height: auto;
            padding-top: 0;
            border-bottom: unset;
        }
    }

}
