@use 'bases/variables' as v; 
@use 'bases/mixins' as m;
/* Skills
----------------------------------------------------------*/
.skills{
    padding-top: 2rem; 
    @include m.gridTemplete;
    &__heading{
        text-align: center;
        padding-bottom: 2rem;
    }
    &__skill{
        @include m.box;
    }
    &__contenido{
        width: 100%;
        text-align: center;
    }
    &__nombre{
        margin: .5rem 0 0 0;
    }
    &__imagen{
        width: 2.8rem;
        margin: 0 auto;
    }
}