@use 'bases/variables' as v; 
@use 'bases/mixins' as m;
/* sobre mi
----------------------------------------------------------*/
.sobreMi{
    &__contenido{
        padding: 5rem 0;
        border-bottom: 1px solid #ffffff;
        margin-bottom: 5rem;
        @include m.tablet{
            margin-bottom: 11rem;
        }
    }
    &__secciones{
        position: relative;

    }
    &__input{ //oculta la viñeta de circle
        left: -9999px;
        position:absolute;     
    }
    &__input + label{
        color: #ffffff;
        border: 2px solid #ffffff52;
        display: block;

        @include m.tablet{
            width: 20%;
            border: none;
            border-left: 2px solid #ffffff52;
        }
    }
    &__input:checked + label{
        background-color: #1f1e1e;
        color: #ffffff;
        border: 2px solid #ffffff;
        display: block;
        @include m.tablet{
            border: none;
            border-left: 2px solid v.$blanco
        }
    }
    &__input:checked ~ &__info{
        display: block;
        height: auto;
        opacity: 1;
        transition: opacity .4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        padding: 3rem 0;

        @include m.tablet{
            padding: 0;
        }
    }
    &__nombre{
        cursor: pointer; 
        color: v.$blanco;
        font-size: 2rem;
        font-weight: 300;
        margin: 0;
        transition: transform .3s ease;
        height: 100%;
        padding: 1.2rem 0 1.2rem 1rem;
        &:hover{
            transform: translateX(5px);
        }
        @include m.tablet{
            padding-left: 1.5rem;
            font-size: 1.8rem;
        }
        @include m.desktop{
            font-size: 2rem;
        }
    }
    &__info{
        opacity: 0;
        height: 0;
        overflow: hidden;

        @include m.tablet{
            position: absolute;
            top: 0;
            left: 25%;
            width: 80%;
        }
    }
    &__title{
        margin: 0;
    }
    &__sitio{
        color: #6cace4;
        opacity: .8;
        font-weight: 300;
        font-size: 1.4rem;
    }
    &__item{
        line-height: 1.8;
        color: v.$whiteB;
        font-weight: 300;
        list-style-position: inside;
    }



}